div {
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  
    input {
      flex-basis: 80%;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 10px 0 0 10px;
      outline: none;
      padding: 4px .5rem;
    }
  
    button {
      $color: #eee;
      flex-basis: 20%;
      font-family: inherit;
      font-size: 1.2rem;
      border: none;
      border-radius: 0 10px 10px 0;
      outline: none;
      color: #fff;
      transition: .3s all;
      cursor: pointer;
      text-transform: uppercase;
      background: rgb(40, 87, 197);
      padding: 8px 0px;
  
      &:hover {
        background: darken($color, 20%);
      }
    }
  }